- hosts: all
  tasks:
    # TODO(slaweq): remove it when nftables will support syntax for src and
    # destination IP addresses in arp tables:
    - include_role:
        name: legacy_ebtables
      when: ansible_distribution_release | lower in ['focal', 'jammy']
